html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {;
  height:50%;
  width:50%;
}

#bio {
display:contents;

}
#bio > li {
  padding: 2px;
}

#pro {
  width: auto;
}
#top{
  flex-direction: column;
  justify-content: center;
  margin:auto;

}

@media (max-width: 430px){
  html{
    background-color:blue;
    display:flex;
    justify-self: center;;
  }

  body {
    text-align: center;
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
  }

  img {
    height: 100%;
  }

  div {
    border: 2px solid burlywood;
    margin: 10px;
  }

  #introPic {;
    height:50%;
    width:50%;
  }

  #bio {
  display:contents;

  }
  #bio > li {
    padding: 2px;
  }

  #pro {
    width: auto;
  }
  #top{
    flex-direction: column;
    justify-content: center;
    margin:auto;

  }
}

