#body{
  background-color:tan;
  padding:2%;
  margin:2%;
  border-style: dotted;
}
img{
  width: 30%;
  height: 30%;
}
.footer{
  background-color: white;
  padding: 2%;
}
img:hover{
  width: 20px;
}

